.container
  .btn-toolbar.pull-right
    %a.btn{ href: r(:hist, app[:name], app[:n]) }
      %i.icon-refresh
      Refresh
  .page-header
    %h1
      %a{ href: r(:app, app[:name]) }&= app[:name]
      \/ history
  %pre&= hist[:cmd]
  %pre&= hist[:lines].join "\n"
