!!! 5
%html
  %head
    %title&= @title
    - (LAYOUT_CSS + @layout_css).each do |x|
      %link{ rel: 'stylesheet', type: 'text/css', href: x }
    - (LAYOUT_JS + @layout_js).each do |x|
      %script{ type: 'text/javascript', src: x }
  %body
    .navbar.navbar-fixed-top.navbar-inverse
      .navbar-inner
        .container
          %a.brand{ href: BRAND_URL }&= BRAND
          %ul.nav
            %li{ class: act(:apps) }
              %a{ href: r(:apps) } apps
    = yield
