!!!
%html
  %head
    %title&= title
    - @layout_css.each do |x|
      %link{ rel: 'stylesheet', type: 'text/css', href: x }
    - @layout_js.each do |x|
      %script{ type: 'text/javascript', src: x }
  %body
    .navbar.navbar-fixed-top.navbar-inverse
      .navbar-inner
        .container
          %a.brand{ href: CONFIG[:brand_url] }&= CONFIG[:brand]
          %ul.nav
            %li{ class: act(:apps) }
              %a{ href: r(:apps) } apps
    = yield
