# --

# ENV['PATH']   = "#{ENV['HOME']}/tmp/__nap/nap/bin:#{ENV['PATH']}"
# ENV['NAPRC']  = "#{ENV['HOME']}/tmp/__nap/cfg/naprc"

# --

AUTH    = { user: 'admin', pass: 'admin', info: 'nap' }
MODIFY  = false   # whether start/stop is allowed

# --
